header{
    height: 120vh;
    padding-top: 7rem;
    overflow: hidden;

}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;

}

/*------------------*/

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;

}

/*--------------------------------*/
.header__social{
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

/*----------------------------------------------*/
.me{
    display: flex;
    justify-content: center;
}

.eu{
    width: 300px;
    border-radius: 8rem 8rem 0 0;
    margin-top: 4rem;
}

/*---------------------------------------*/

@media screen and (max-width:1024px) {

    header{
        height: 68vh;
    }
}

@media screen and (max-width:600px) {
    header{
        height: 100vh;
    }


}